@import url("https://api.fontshare.com/v2/css?f[]=satoshi@400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500&family=Afacad:wght@600&display=swap");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* Figma Variables */

  /* Spacing */
  --Label-Label-2-fontSize: 14px;
  --Label-Label-2-letterSpacing: -0.16px;
  --Label-Label-2-lineHeight: 20px;
  --Label-Label-3-fontSize: 12px;
  --Label-Label-3-letterSpacing: -0.12px;
  --Label-Label-3-lineHeight: 16px;
  --Other-Gap-5: 8px;
  --Other-Gap-7: 12px;
  --Other-Gap-9: 16px;
  --Other-Gap-13: 32px;
  --Other-Radius-Full-Corner: 999px;
  --Radius-100: 4px;
  --Radius-200: 8px;
  --Space-200: 8px;
  --Space-300: 12px;
  --Space-400: 16px;
  --Stroke-Border: 1px;
  --Weights-Regular: 400;

  /* Color */
  --Border-Divider: #eef2f1;
  --Border-Strong: #e2e8e6;
  --Color: #dabf67;
  --Color-2: #735302;
  --Color-Dark-500: #04040e;
  --Color-Gray-200: #dfdfdf;
  --Color-Gray-700: #7b7b7b;
  --Color-Netural-White: #fff;
  --Surface-Card: #fff;
  --Text-Primary: #0f172a;

  /* Common Style Variables */

  /* Color */
  --color-darkslategray: #303030;
  --color-dimgray-100: #737373;
  --color-dimgray-200: #585858;
  --color-gray-100: #757575;
  --color-gray-200: #171717;
  --color-rosybrown: #9f7d5d;
  --color-whitesmoke-100: #f6f6f6;

  /* Gap */
  --gap-4: 4px;
  --gap-6: 6px;
  --gap-8: 8px;
  --gap-12: 12px;
  --gap-14: 14px;
  --gap-16: 16px;
  --gap-20: 20px;
  --gap-40: 40px;

  /* Padding */
  --padding-10: 10px;
  --padding-12: 12px;
  --padding-14: 14px;
  --padding-20: 20px;
  --padding-40: 40px;

  /* BorderRadius */
  --br-16: 16px;

  /* Font */
  --font-inter: Inter;
  --font-satoshi: Satoshi, sans-serif;

  /* FontSize */
  --fs-16: 16px;
  --fs-18: 18px;
  --fs-20: 20px;
  --fs-22: 22px;
  --fs-26: 26px;
  --fs-36: 36px;

  /* Borders */
  --border-1: 1px solid var(--Color-Gray-200);

  /* WidthHeights */
  --height-2: 2px;
  --height-5: 5px;
  --height-16: 16px;
  --height-22: 22px;
  --height-24: 24px;
  --height-50: 50px;
  --min-w-53: 53px;
  --min-w-120: 120px;
  --width-16: 16px;
  --width-20: 20px;
  --width-24: 24px;
  --width-300: 300px;
  --width-512: 512px;

  --left-16: 16px;
  --top-16: 16px;
}
